<p id="notice"><%= notice %></p>

<h1>Congressmen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Legacy</th>
      <th>State</th>
      <th>Party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @congressmen.each do |congressman| %>
      <tr>
        <td><%= congressman.name %></td>
        <td><%= congressman.congressperson_id %></td>
        <td><%= congressman.state %></td>
        <td><%= congressman.party %></td>
        <td><%= link_to 'Show', congressman %></td>
        <td><%= link_to 'Edit', edit_congressman_path(congressman) %></td>
        <td><%= link_to 'Destroy', congressman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Congressman', new_congressman_path %>
