<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @congressman.name %>
</p>

<p>
  <strong>Legacy:</strong>
  <%= @congressman.legacy_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @congressman.state %>
</p>

<p>
  <strong>Party:</strong>
  <%= @congressman.party %>
</p>

<%= link_to 'Edit', edit_congressman_path(@congressman) %> |
<%= link_to 'Back', congressmen_path %>
