<%= form_for(deputy) do |f| %>
  <% if deputy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deputy.errors.count, "error") %> prohibited this deputy from being saved:</h2>

      <ul>
      <% deputy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :congressperson_id %>
    <%= f.text_field :congressperson_id %>
  </div>

  <div class="field">
    <%= f.label :congressperson_name %>
    <%= f.text_field :congressperson_name %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :party %>
    <%= f.text_field :party %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
