<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Deputados</h1>
    <div class="row center">
      <h5 class="header col s12 light">Deputados cearenses e seus gastos entre janeiro de 2015 até julho de 2016.</h5>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <% @deputies.each do |deputy| %>
      <div class="col s12 m6">
        <div class="card horizontal blue-grey darken-1">
          <div class="card-image">
            <%= image_tag "http://www.camara.leg.br/internet/deputado/bandep/#{deputy.congressperson_id}.jpg" %>
          </div>
          <div class="card-content white-text">
            <span class="card-title"><%= deputy.congressperson_name %></span>
            <p>
              <strong>Partido:</strong>
              <%= deputy.party %>
            </p>
            <p>
              <strong>Gastos Totais:</strong>
              <%= number_to_currency(deputy.sum_value_count, unit: "R$ ", separator: ",", delimiter: ".") %>
            </p>
          </div>
          <div class="card-action">
            <%= link_to "Detalhar", deputy %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
