<p id="notice"><%= notice %></p>

<h1>Deputies</h1>

<table>
  <thead>
    <tr>
      <th>Congressperson</th>
      <th>Congressperson name</th>
      <th>State</th>
      <th>Party</th>
      <th>Total Gasto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deputies.each do |deputy| %>
      <tr>
        <td><%= deputy.congressperson_id %></td>
        <td><%= deputy.congressperson_name %></td>
        <td><%= deputy.state %></td>
        <td><%= deputy.party %></td>
        <td><%= deputy.sum_value_count %></td>
        <td><%= link_to 'Show', deputy %></td>
        <td><%= link_to 'Destroy', deputy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
